<meta charset="UTF-8">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css"/>
<link rel="stylesheet" href="../../css/youtube.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../css/index.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-latest.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->

<script src="../../js/main.js"></script>

<link rel="stylesheet" href="../../css/darcula.css" async/>

<!-- 6.65.7 -->

<link rel="stylesheet" href="../../css/codemirror.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"
        integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"
        integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js"
        integrity="sha512-2M0GdbU5OxkGYMhakED69bw0c1pW3Nb0PeF3+9d+SnwN1ryPx3wiDdNqK3gSM7KAU/pEV+2tFJFbMKjKAahOkQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" ></script>
<script src="https://cdn.jsdelivr.net/pyodide/v0.21.3/full/pyodide.js"></script>

<link rel="icon" type="image/png" href="../../../../image/header/sicon.png">


<link rel="shortcut icon" type="image/png" href="../../../../image/header/sicon.png">

<link rel="Bookmark" type="image/png" href="../../../../image/header/sicon.png">

<meta name="msapplication-TileColor" content="#D83434">
<meta name="msapplication-TileImage" content="../../../../image/header/sicon.png">
