header {
    position: absolute;
    width: 100%;
    height: 48px;
    /*background-color: aqua;*/
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
    top: 0px;
    left: 0px;
    display: flex;


}


.logo-header {

    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    margin-left: 5px;

}

ege-container-image {
    padding: 10px;
    display: flex;

}

.logo-header img {
    height: calc(100% - 10px);
}


text {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: unset;
    overflow: hidden;
    font-size: 15pt;
}

container-left {
    margin-left: 10px;
}

.ege-pre-header {
    padding-top: 3px;
    vertical-align: middle;
    width: 100%;
    line-height: 25px;
    text-align: left;
    font-size: 22pt;
    color: #006;
    padding-bottom: 13px;
    /* border-top: 2px solid #006;*/
}


.prob_nums {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    text-align: justify;
    color: #000;
    font-weight: bold;
    font-size: 15pt;

}

.prob_nums a {

    color: #090949;
    /* color: #090949;
     border-bottom: 1px solid #090949;*/
}


.task {
    margin-top: 10px;
}


br {
    margin-top: 3px;
}


.new-wrap {
    width: 100%;
    height: 5px;
}

.new-wrap-small {

    width: 100%;
    height: 5px;

}


#leftPanel {
    /* margin-top: 50px; */
    width: 50%;
    height: 100%;
    /* background-color: #0b2e13;*/
}

#container {
    /* margin-top: 50px; */
    padding-right: 10px;
    padding-left: 10px;
}


#mainController {
    display: flex;
    margin: 50px auto;
}

.menu {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.menu svg {
    pointer-events: none;
    display: block;
    width: 38px;
    height: 38px;
}

.task {
    font-size: 14pt;
}

#container a {

    font-size: 16pt;

}

.panel-runner {
    margin-top: 15px;
    background-color: #4b4e50;
    width: 100%;
    height: 40px;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    justify-content: space-between;
}

.panel-runner .element {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0px 10px 0px 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.13);

}

.panel-runner .element:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

.panel-runner .element svg {
    width: 32px;
    height: 32px;
}

.header-input-data {
    margin-top: 20px;
}

.decided {

    text-decoration: none;
    border-color: rgba(9, 9, 73, .5);
    border-bottom: 1px dashed;
    display: flex;
    float: right;
    margin-top: 5px;
    font-size: 13pt;
    color: #000066;
    font-weight: bold;
    cursor: pointer;
}

#decided_info {
    width: 100%;
    /* min-height: 300px; */
    /* background-color: #0000e0; */
    margin-top: 13pt !important;
    border-radius: 10px;
    padding-top: 0px !important;
}

#decided_info text {
    font-size: 12pt;
    font-weight: bold;
    white-space: break-spaces;
    text-overflow: clip;
}

.decided_info text {
    font-size: 12pt;
    font-weight: bold;
    white-space: break-spaces;
    text-overflow: clip;
}

#decided_info .cm-s-darcula {
    border-radius: 10px;
}

#decided_info .CodeMirror {
    border-radius: 10px;
    border: 1px solid black;
}

@media screen and (max-width: 499px) {
    #leftPanel {
        width: 50%;
        height: 100%;

        display: none;
    }

    #container {
        /*margin-top: 50px;*/
        padding-right: 10px;
        padding-left: 10px;
        /* width: 100%; */
        width: calc(100% - 20px);
        /* margin: 50px auto; */
    }

    #mainController {
        margin-left: 0px;
    }

    .ege-pre-header {
        margin-top: 10px;
    }

    #container a {
        font-size: 15pt;
    }
}

.input-data {
    margin-top: 10px;

}


.input-data .text {
    font-size: 15pt;
    /*width: 100%;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;*/

}

.input-data textarea {
    width: 100%;
    resize: none;
    /* border-radius: 0px 0px 10px 10px;*/
    border-radius: 10px;
    border: 1px solid black;
    min-height: 140px;
    /* min-height: 66px;*/
}

.code_edit {}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}






/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}







.sliding-button {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 15px 25px;
    border: 1px solid;
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    border-radius: 10px;
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: pointer;
    hyphens: manual;
    word-break: break-word;
    overflow-wrap: normal;
    word-break: break-all;
    white-space: normal;
    hyphens: auto;
    text-align: justify;
    -webkit-hyphens: auto;
    -webkit-hyphenate-character: "\2010";
    -webkit-hyphenate-limit-after: 1;
    -webkit-hyphenate-limit-before: 3;
    -moz-hyphens: auto;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
}

.sliding-button:before {
    /*  content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      width: 100%;
      z-index: -1;
      color: white;
      background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
      transition: .8s cubic-bezier(.165, .84, .44, 1);

     */
}

.sliding-button:hover {
    transition: 0.5s;
    padding: 20px 35px;
}

.sliding-button:hover:before {
    /* bottom: 0%;
     top: auto;
     height: 100%;

     */
}

.flex-center {

    display: flex;
    justify-content: center;
    width: 100%;

}

.flex-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.flex-right {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.round {
    border-radius: 30px;
}


.share {
    width: 40px;
    height: 40px;
}

.code_edit .element {
    min-height: 300px;
    border-left: 1px solid;
}

.code_edit .element .panel {
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
    display: block;
}

.block-display {
    left: 0px;
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000d1;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window-create {
    background-color: aliceblue;
    border-radius: 0px;
    padding: 30px 25px;
    display: grid;
    justify-items: start;
    align-items: center;
    justify-content: space-around;
    align-content: space-evenly;
    height: calc(100% - 60px);
    width: calc(100% - 50px);
}

.text-header {
    font-weight: bold;
    font-size: 16pt;
}

.text-virable {
    font-size: 13pt;
    margin-top: 5px;
}

.input-text-virable {

    border-radius: 10px;
    border: 1px solid;
    height: 48px;
    padding: 10px;
    font-size: 30px;
    width: 100%;
    margin-top: 5px;
    background-color: white;

}

.select-type {

    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    font-size: 30px;
    margin-top: 5px;
    padding: 0px 0px 0px 5px;

}

.button-virable {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 17pt;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-offer {
    margin-top: 10px;
    display: grid;

}

.admin-offer a {
    font-size: 25pt;
}

.text-auto {
    margin-top: 25px;
    font-size: 25pt;
    cursor: pointer;
    hyphens: manual;
    word-break: break-word;
    overflow-wrap: normal;
    word-break: break-all;
    white-space: normal;
    hyphens: auto;
    text-align: justify;
    -webkit-hyphens: auto;
    -webkit-hyphenate-character: "\2010";
    -webkit-hyphenate-limit-after: 1;
    -webkit-hyphenate-limit-before: 3;
    -moz-hyphens: auto;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
}


.close-window {


    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #fd5e50;
    float: left;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 20px;
    left: 25px;

}


.close-window svg {
    width: 80%;
    height: 80%;
}

.panel-close-window {

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -100;

}


#leftPanel .profile {

    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15pt;

}

#leftPanel .forms {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 10px;

}

#leftPanel .forms .element {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    height: 50px;
    align-items: center;
    font-size: 18pt;
    border-radius: 5px;
    cursor: pointer;
}

#leftPanel .forms .element:hover {

    background-color: rgba(0, 0, 0, 0.1);

}

#leftPanel .forms .element .icon {
    margin-right: 16px;
    width: 32px;
    height: 32px;
    margin-left: 7px;
}

#leftPanel .forms .element .icon svg {

    width: 100%;
    height: 100%;

}

#leftPanel .forms .element .icon img {

    width: 100%;
    height: 100%;

}

.taskMoel {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

.admin_panel {
    width: 136px;
    height: 40px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
}


.button-window {


    width: 40px;
    height: 40px;
    background-color: #fd5e50;

    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.task_text {
    background-color: #2b2b2b;
    margin: 0px 0px 0.989583px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    color: #a9b7c6;
    padding: 10px;
}

select {
    border-radius: 5px;
    margin-left: 3px;
    height: 17pt;
    font-weight: bold;

}

#type_select {
    max-width: 60%;
}

.button-window svg {
    width: 80%;
    height: 80%;
    padding: 10px;
}

.button-window img {
    width: 80%;
    height: 80%;
    padding: 10px;
}

#solution_text {
    height: 150px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #2b2b2b;
    color: #a9b7c6;
    padding: 10px;
}


.main-elements {
    width: 100%;
}

.main-elements .information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
    /*min-width: 600px;*/

}

.main-elements .information .id {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    font-size: 16pt;
    min-width: 100px;

}

.main-elements .information .description {
    font-size: 16pt;

    color: #606060;

}

.main-elements .information .rightpanel {

    margin-right: 10px;
}


.main-elements .line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

    margin-top: 35px;
    /*min-width: 600px;
     border: 1px solid black;
    */
}

.main-elements .line .count {
    width: 60px;
    heigh: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-elements .line .count .small-element {

    width: 32px;
    height: 32px;

    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;

    border: 1px solid black;
    cursor: pointer;
}

.main-elements .line .count .big-element {

    width: 48px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11pt;

}

.main-elements .line .count .big-element input {
    width: 20px;
    text-align: center;
}

.main-elements .line .another-count {
    width: calc(100% - 60px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    font-size: 16pt;
    border-bottom: 1px dashed;
    cursor: pointer;

}


.main-elements .line .another-count:hover {
    color: #f60;

}

.pre-header {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 20px;
}


.main-header {
    width: calc(100% - 20px);
    border-radius: 10px;
    height: 64px;

    border: 1px solid black;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.add-to {
    /* height: auto;
    padding: 10px;
    width: calc(100% - 20px)


    */


    height: auto;
    padding: 10px;
    width: calc(100% - 20px);
    overflow: auto;
    display: block;
}

.add-to textarea {
    font-size: 15pt;
    height: 150px;
    border-radius: 10px;
}

.editor textarea {
    font-size: 15pt;
    height: 550px;
    border-radius: 10px;
}


.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-title {
    color: #008;
}

.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-string {
    color: #080;
}

.hljs-comment,
.hljs-quote {
    color: #800;
}

.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-symbol {
    color: #066;
}

ol {
    margin-top: 0px;
    margin-bottom: 0px;

}

codes {
    font-size: .9em;
    font-weight: inherit;
    background-color: #f3f4f6;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3em;
    display: block;
    padding: .5em 1em;
    min-width: auto;
    width: max-content;
}




/*/////////////////////////////////////////////////////*/



.wrap_scroll_table {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}


.pbody table,
.solution table,
.probtext table {
    position: relative;
}


.pbody table,
.solution table,
.probtext table {
    border-collapse: collapse;
}

table {
    border-radius: 7px;
}

.pbody table,
.solution table,
.probtext table {
    text-indent: 0;
}

.pbody table,
.solution table,
.probtext table {
    border-collapse: collapse;
}

.pbody table,
.solution table,
.probtext table {
    text-indent: 0;
}


.pbody table[border]::after,
.pbody table[style*="margin:auto"]::after,
.pbody table[class]::after,
.solution table[border]::after,
.solution table[style*="margin:auto"]::after,
.solution table[class]::after,
.probtext table[border]::after,
.probtext table[style*="margin:auto"]::after,
.probtext table[class]::after {
    content: "ege.sdamgia.ru";
    display: block;
    right: 3px;
    position: absolute;
    bottom: 3px;
    color: rgba(0, 0, 0, .5);
    font-size: 10px;
}

.ui-widget-content {
    border: 1px solid #aaa;
    background: #fff;
    color: #222;
}

.pbody th,
.solution th,
.probtext th {
    font-size: 9pt !important;
    color: #000;
    background: #dedede;
}


.pbody th,
.pbody td,
.probtext th,
.probtext td,
.solution td,
.solution th {
    padding: 4px;
    border-collapse: collapse;
    font-size: 10pt !important;
    border: 1px solid #000;
}


th {
    font-weight: 700;
    color: #006;
    background: #bac2ff;
    border: 0;
}

.pbody table td {
    vertical-align: top;
}

td {
    margin: 5px 0 0;
    text-align: left;
    color: #000;
}


#isAcceptOrDenied {

    margin-top: 10px;
    font-size: 16pt;
    font-weight: bold;
}


/*/////////////////////////////////////////////////////*/


.decided_info {
    font-size: 13pt;
}



.some-word {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60pt;
    font-size: 30pt;
    font-weight: bold;
    /*word-wrap: break-word;
    word-break: break-all;*/
    hyphens: auto;
}


.letter-palace {
    margin-top: 150px;
    display: flex;
    width: 100%;
    height: 30pt;
    font-size: 30pt;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .some-word {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60pt;
        font-size: 110%;
        font-weight: bold;
    }

    .code_edit .element {


        overflow-x: auto;
        min-height: auto;
        border-radius: 0px 0px 10px 10px;
        background-color: #2b2b2b;
        border-top: 1px solid #4b4e50;
        border-left: none;
    }

    .code_edit .element .panel {
        overflow-x: auto;
        overflow-y: hidden;
        display: inline-flex;
        align-items: center;
        height: auto;
    }

    .element_main .cm-s-darcula {
        border-radius: 0px;
    }


    .letter-palace {
        margin-top: 150px;
        display: flex;
        width: 100%;
        height: 30pt;
        font-size: 30pt;
        justify-content: space-around;
        align-items: center;
    }
}


@media screen and (min-width: 500px) {

    #leftPanel {
        width: 50%;
        height: 100%;

        display: none;
    }

    #container {
        /*margin-top: 50px;*/
        padding-right: 10px;
        padding-left: 10px;
        width: 480px;
        /* margin: 50px auto; */
    }

    #mainController {
        margin-left: calc(50% - 250px);
    }
}

@media screen and (min-width: 600px) {

    #leftPanel {
        width: 50%;
        height: 100%;

        display: none;
    }

    #container {
        /* margin-top: 50px;*/
        padding-right: 10px;
        padding-left: 10px;
        width: 600px;
        /* margin: 50px auto;*/
    }

    #mainController {
        margin-left: calc(50% - 310px);
    }

    .header-input-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-input-data .input-data {
        width: calc(50% - 2px);
        margin-top: 10px;
    }
}


@media screen and (min-width: 700px) {

    .close-window {

        position: fixed;
        width: 40px;
        height: 40px;
        background-color: #fd5e50;
        float: left;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        top: auto;
        left: auto;
    }

    .window-create {
        width: 60%;
        height: 65%;
        background-color: aliceblue;
        border-radius: 10px;
        min-width: 650px;
        min-height: 450px;
        padding: 30px 25px;
        display: grid;
        justify-items: start;
        align-items: center;
        justify-content: space-around;
        align-content: space-evenly;
    }

    .code_edit {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


    }


    .code_edit .element_main {
        width: 70%;
    }

    .code_edit .element {
        width: 30%;
        height: 100%;
        background: #2b2b2b;
        border-left: 1px solid #4b4e50;
        border-radius: 0px 0px 10px 0px;
    }

    .code_edit .element_main .cm-s-darcula {
        border-radius: 0px 0px 0px 10px;

    }

    .input-data textarea {
        height: 300px;
        font-size: 12pt;
    }
}


@media screen and (min-width: 1024px) {

    header {
        position: fixed;
        width: 100%;
        height: 55px;
        /* background-color: aqua; */
        box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        z-index: 100;
    }

    #leftPanel {
        width: 240px;
        height: 100%;

        display: block;

    }

    #container {
        border-right: 1px solid;
        border-left: 1px solid;
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        width: 700px;
        display: block;
        /*  margin: 50px auto;

         */

    }

    #mainController {

        margin-left: calc(50% - 470px);
        margin-top: 55px;

    }

    .menu {
        display: none;
    }

}








input[type="radio"] {

    margin-right: 0.5rem;
    width: 13pt;
    height: 13pt;
}

input,
label {
    cursor: pointer;
}

.pre-menu {
    display: block;
    margin-top: 5px;
    font-size: 15pt;
    font-weight: bold;
}


.button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 15pt;
    margin-top: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.letter {
    width: calc(50% - 18px);
    height: 100%;
    font-size: 50pt;
    margin-right: 3px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    min-height: 60px;

}


.letter:hover {
    color: red;
    background-color: #0000001c;
}






.letter_answer {
    width: 64px;
    font-size: 50pt;
    margin-right: 3px;
    cursor: pointer;
    font-weight: bold;
    color: #080;

}












.main-word {
    min-height: 400px;
    font-size: 25pt;

    width: 100%;
}

.count_accept_and_unaccept {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    font-weight: bold;
    height: 25pt;
    margin-top: 50px;
}

.accept {
    font-size: 30pt;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accept {
    color: #080;
}

#unaccept {
    color: #800;
}



.answer-letter {
    color: #ef0707;
}


.menu-element {
    font-size: 20pt;
    margin-top: 10px;
    cursor: pointer;
}

.menu-items {
    width: calc(100% - 50px);
    margin-left: 50px;
    cursor: pointer;
}

.menu-items .item {
    margin-top: 10px;

}


.like {
    width: 48px;
    height: 48px;
}

.like img {
    width: 100%;
    height: 100%;
}


.strike-letter {
    color: #800;
    cursor: pointer;
}

.strike-letter:hover {
    color: #080;
}

.strike-letter-answer {
    color: #800;
}